{% extends 'base.html'%}
{% block content %} 
<section
  class="cards"
>
  <a href="#">
    <div class="card">
      <h3>Exemplo 1</h3>
      <h4>Subtítulo 1</h4>
      <p>
        Escrito por Ivan em 04/04/2024
      </p>
    </div>
  </a>

  <a href="#">
    <div class="card">
      <h3>Exemplo 1</h3>
      <h4>Subtítulo 1</h4>
      <p>
        Escrito por Ivan em 04/04/2024
      </p>
    </div>
  </a>

  <a href="#">
    <div class="card">
      <h3>Exemplo 1</h3>
      <h4>Subtítulo 1</h4>
      <p>
        Escrito por Ivan em 04/04/2024
      </p>
    </div>
  </a>

  <a href="#">
    <div class="card">
      <h3>Exemplo 1</h3>
      <h4>Subtítulo 1</h4>
      <p>
        Escrito por Ivan em 04/04/2024
      </p>
    </div>
  </a>
</section>
{% endblock %}