{% extends 'base.html' %}
{% block content %}
    <main>
        <section class="banner">
            <h1>Tecnologia Solidária</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="https://source.unsplash.com/random" alt="Random Image">
        </section>
        <section class="about">
            <h2>Sobre Nós</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl nunc id nisl. Nulla facilisi. Donec id elit non mi aliquet sagittis. Sed posuere, nunc et porta euismod, nisi diam porttitor mauris, a sollicitudin nisi justo in libero. Vestibulum mollis mauris enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl nunc id nisl. Nulla facilisi. Donec id elit non mi aliquet sagittis. Sed posuere, nunc et porta euismod, nisi diam porttitor mauris, a sollicitudin nisi justo in libero. Vestibulum mollis mauris enim.</p>
        </section>
    </main>
{% endblock %}