{% extends 'base.html' %}
{% block title %}Usuários{% endblock %}
{% block content %}
<main class="user-listing">
    <h1>Usuários</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Nome de usuário</th>
            <th>Função</th>
            <th></th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.full_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td><a href="/usuarios/editar/{{ user.id }}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}